<!DOCTYPE html>
<html>
    <head>
        <title>Bad GUI</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Welcome to the sign in page!</h1>
        <a href="http://127.0.0.1:5000/notit">
            <button class="specific-button2">Submit</button>
            <button class="specific-button3">Submit here?</button>
            <button class="specific-button4">Submit over here?</button>
            <button class="specific-button5">Submit here maybe?</button>
        </a>
        <a href="http://127.0.0.1:5000/GUI3">
            <button class="specific-button1">Submit</button>
        </a>
    </body>
</html>
<body>
    <h2 class="specific-paragraph">Input your username and password in the boxs below....nobody is watching.</h2>
    <input class="username"></input>
    <input class="password"></input>
    <img src="../static/patrick.png"/>
</html>