<!DOCTYPE html>
<html>
    <head>
        <title>Bad GUI</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Find the correct button to sign in!</h1>
        <a href="http://127.0.0.1:5000/GUI2">
            <button class="button1" >Click here for a hint!</button>
        
        </a>
        <a href="http://127.0.0.1:5000/notit">
            <button class="button2" >Its me!</button>
            <button class="button3" >Gotta be me!</button>
            <button class="button4" >Surely it's me?</button>
            <button class="button5" >Probably is not me...</button>
        </a>
    </body>
</html>
<html>
    <body>
        <h2 style="color:antiquewhite;"> Could it be in the corner?</h1>
        <h4 style2="color:antiquewhite;"> Ask for a hint!</h4>
    </body>
</html>