body {
    background-color: lightblue;
  }
  
  h1 {
    color: blueviolet;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }

  body {
    background-color: lightblue;
}

h2{
    color: green;
    font-size: 32px;
}

.specific-paragraph {
    font-size: 18px;
    background-color: lightcoral;
}


.username {
  font-size: 18px;
  background-color: rgb(255, 224, 224);
  width:100px;
}

.password {
  font-size: 18px;
  background-color: rgb(255, 224, 224);
  width:100px;
}

src.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 1200px solid 
}
.button1 {
  background-color: rgb(129, 26, 58);
  color: rgb(17, 44, 197);
  position: absolute; 
  top: 50px;
  right: 20px;
  padding: 10px 20px; 
}

.button2 {
  background-color: rgb(185, 21, 133);
  color: rgb(17, 120, 193);
  position: absolute; 
  bottom: 400px;
  right: 200px;
  padding: 10px 20px; 
}

.button3 {
  background-color: rgb(17, 0, 100);
  color: rgb(17, 193, 17);
  position: absolute; 
  bottom: 500px;
  left: 100px;
  padding: 10px 20px;  
}

.button4 {
  background-color: rgb(181, 85, 21);
  color: blue;
  position: absolute; 
  bottom: 200px;
  right: 50px;
  padding: 10px 20px; 
}

.button5 {
  background-color: darkgreen;
  color: white;
  position: absolute; 
  bottom: 320px;
  left: 50px;
  padding: 10px 20px; 
}

.specific-button1 {
  background-color: rgb(17, 20, 192);
  color: rgb(196, 13, 13);
  position: absolute; 
  bottom: 500px;
  right: 50px;
  padding: 10px 20px; 
}

.specific-button2 {
  background-color: rgb(169, 32, 139);
  color: rgb(17, 135, 35);
  position: absolute; 
  bottom: 20px;
  left: 70px;
  padding: 10px 20px; 
}

.specific-button3 {
  background-color: rgb(23, 172, 23);
  color: rgb(165, 22, 222);
  position: absolute; 
  top: 30px;
  left: 70px;
  padding: 10px 20px; 
}

.specific-button4 {
  background-color: rgb(48, 0, 100);
  color: rgb(14, 59, 142);
  position: absolute; 
  bottom: 80px;
  right: 30px;
  padding: 10px 20px; 
}

.specific-button5 {
  background-color: rgb(194, 107, 20);
  color: rgb(156, 23, 103);
  position: absolute; 
  bottom: 200px;
  right: 50px;
  padding: 10px 20px; 
}

.signoutbutton {
  background-color: rgb(194, 153, 20);
  color: rgb(141, 16, 93);
  position: absolute; 
  top:50px;
  right:50px;
  padding: 10px 20px; 
}
